@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Roles";
}

<h2>Roles</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Role</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Name == "Admin")
            {
                continue;
            }
            else
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
          
        }
    </tbody>
</table>
